@model DepartmentViewModel
<div>
    <h1>Entry Department</h1>

    <form action="/Department/update" method="post">
        <div class="mb-3">
            <input type="hidden" name="Id" value="@Model.Id" />
            <label for="Code" class="form-label">Code</label>
            <input type="text" name="Code" class="form-control" value="@Model.Code" required>
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" name="Name" class="form-control" value="@Model.Name" required>
        </div>
        <div class="mb-3">
            <label for="ExtensionPhone" class="form-label">ExtensionPhone</label>
            <input type="tel" name="ExtensionPhone" class="form-control" value="@Model.ExtensionPhone">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Update</button>
            <button class="btn btn-primary">Cancel</button>
        </div>
    </form>

</div>